extends layout 

block content 
  .item_delete 
    .delete 
      .header 
        h1 #{title}: #[em #{item.name}]

      .body 
        p Are you sure you want to 
          span(style='color: red') delete 
          | the item: #[em #{item.name}] ?

        form(method='post')
          button(type="submit") Delete