doctype html
html(lang="en")
  head
    title=title
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body 
    .nav-bar 
      a(href='/') 
        img(src='/images/logo.svg')
        h1 Collectify

      .links
        a(href='/categories') Categories 
        a(href='/items') All Items 
        a(href='/users') Users

    .page
      block content

    .footer   
      a(href='https://github.com/vincentanu04') 
        img(src='/images/github-mark.svg')
        span github.com/vincentanu04
