extends layout 

block content 
  .users 
    .header 
      h1=title 
      a(href='/users/create')
        button Add New User


    .body 
      if users.length > 0
        ul 
          each user, index in users 
            li
              a(href=user.url) #{user.name} 
              p=`Age: ${user.age || 'unknown'}`
            if index < users.length - 1
              hr  
      else 
        p There are no users...