:root {
  --primary-color: #2f27ce;
  --accent-color: #433bff;
  --secondary-color: #dedcff;
  --bg-color: #fbfbfe;
  --text-color: #000000;
  --font-family: 'Roboto', sans-serif;
  --font-size: 16px;
  --page-padding-horizontal: 5.5rem;
  --page-padding-vertical: 3rem;
}
