:root {
  --primary-color: #2f27ce;
  --bg-color: #fbfbfe;
  --text-color: #000000;
  --font-family: 'Roboto', sans-serif;
  --font-size: 16px;
  --page-padding-horizontal: 5.5rem;
  --page-padding-vertical: 3rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.nav-bar {
  background-color: var(--bg-color);
  border-bottom: 1px solid lightgrey;
  padding: 1rem var(--page-padding-horizontal);
  display: flex;
  justify-content: space-between;
}

.nav-bar img {
  width: 30px;
}

.nav-bar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  font-size: 0.75rem;
  gap: 0.5rem;
}

.nav-bar .links {
  display: flex;
  gap: 4rem;
}

.links a {
  font-size: 1em;
  transition: opacity 0.3s ease;
}

.links a:hover {
  opacity: 60%;
}

.page {
  padding: var(--page-padding-vertical) var(--page-padding-horizontal);
}
